@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: #000000;
  font-family: 'Sniglet', system-ui;
  line-height: normal;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 8px;
}

h1 {
  @apply text-[40px] sm:text-[72px];
}

h2 {
  @apply text-[36px] sm:text-[60px];
}

h3 {
  @apply text-[32px] sm:text-[42px];
}

h4 {
  @apply text-[28px] sm:text-[36px];
}

h5 {
  @apply text-[24px] sm:text-[32px];
}

.b1 {
  @apply text-[22px];
}

.b2 {
  @apply text-[20px];
}

.b3 {
  @apply text-[18px];
}

.b4 {
  @apply text-[16px];
}

.b5 {
  @apply text-[14px];
}

hr {
  @apply my-3;
}

a {
  @apply break-words;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

// disclosure

.disclosure-btn {
  @apply flex  gap-2 text-left;
}

.disclosure-btn svg {
  @apply duration-300 mt-1;
}

.disclosure-btn[aria-expanded='false'] svg {
  @apply -rotate-90;
}

.disclosure-panel {
  @apply pl-8;
}

// dropdown

.dropdown-btn {
  @apply w-full px-2.5 py-[5px] b4 text-left bg-white  flex justify-between items-center ring-[#0B5C90];
}

.dropdown-btn svg {
  @apply duration-300 size-4;
}

.dropdown-btn[aria-expanded='true'] svg {
  @apply -rotate-180;
}

.dropdown-btn[aria-expanded='true'] ~ .combobox-btn svg {
  @apply -rotate-180;
}

.dropdown-list {
  @apply mt-1 w-full b4 text-left max-h-44 bg-white overflow-x-scroll z-10 shadow-md  pb-0;

  li {
    @apply px-2.5 py-[5px] cursor-pointer text-black hover:bg-black hover:text-white;
  }
}

// cookie consent

.wv_cookie-consent__lang {
  display: none !important;
}

.wv_cookie-consent__body {
  // margin: 0 !important;
  font-size: 20px !important;
  line-height: normal !important;

  a {
    color: #8dccf0 !important;
    transition: 0.3s;
  }

  a:hover {
    color: #2ea0df !important;
  }
}

.wv_cookie-consent__options {
  margin: 0 !important;
}

.wv_cookie-consent__container,
.wv_cookie-consent__actions button {
  font-family: 'DB_Helvethaica_X' !important;
  font-size: 20px !important;
}

.wv_cookie-consent__container {
  padding: 25px 50px !important;

  @include mobile {
    padding: 20px !important;
  }
}

.wv_cookie-consent__actions button {
  border-radius: 10px !important;
}

.wv_cookie-consent--banner,
.wv_cookie-consent__container {
  background: #333333 !important;
}

.wv_cookie-consent__actions > button:first-child {
  border-color: #8dccf0 !important;
  color: #8dccf0 !important;
  transition: 0.3s;
}

.wv_cookie-consent__actions > button:first-child:hover {
  background: transparent !important;
  border-color: #2ea0df !important;
  color: #2ea0df !important;
}

.radio-wrapper {
  background: #f5f5f5;

  div {
    width: 100%;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding: 5px 10px;
    text-align: left;
  }

  .radio-btn:first-child {
    border: 1px solid #d9d9d9;
    border-radius: 10px 10px 0 0;
  }

  .radio-btn:last-child {
    border: 1px solid #d9d9d9;
    border-radius: 0 0 10px 10px;
  }

  .radio-btn[aria-checked='true'] {
    @apply bg-[#D9D9D9] font-bold;
  }
}
