@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: #000000;
  font-family: 'Quicksand', system-ui;
  line-height: normal;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 8px;
}

h1 {
  @apply text-[40px] sm:text-[72px];
}

h2 {
  @apply text-[36px] sm:text-[60px];
}

h3 {
  @apply text-[32px] sm:text-[42px];
}

h4 {
  @apply text-[28px] sm:text-[36px];
}

h5 {
  @apply text-[24px] sm:text-[32px];
}

.b1 {
  @apply text-[22px];
}

.b2 {
  @apply text-[20px];
}

.b3 {
  @apply text-[18px];
}

.b4 {
  @apply text-[16px];
}

.b5 {
  @apply text-[14px];
}

hr {
  @apply my-3;
}

a {
  @apply break-words;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;

  @include mobile {
    width: 350px;
    height: 350px;
  }
}
